*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

/* header section */

.header{
    width: 100%;
    height: 137px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header_logo img{
    width: 47px;
    height: 47px;
}

.header_logo a{
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: white;
    width: 124px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo span{
    margin: 0 20px;
}

.header_nav{
    display: flex;
    align-items: center;
    flex-basis: 70%;
    justify-content: space-around;
}

.header_nav li, .header_nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.header_nav a{
    margin: 10px auto;
    padding: 20px 10px;   
}

ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
  }
  ul li {
    padding: 6px 0;
  }
  ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 2rem;;
    color: #ecf0f1;
    padding: 4px 0;
    transition: 0.5s;
  }
  ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, #945dd6, #527ce9, #0092e8, #00a2da, #13adc7);;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  ul li a:hover {
    color: #95a5a6;
  }
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

.socmedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero section  */

.hero{
    display: flex;
    align-content: flex-start;
    max-width: 800px;
    min-height: 670px;
    margin: 300px auto;
}

.hero_text_1{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero_img{
    position: absolute;
    right: 130px;
    top: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero_text_2{
    color: #BCBCBC;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
}

.button{
    border: 1px solid #13ADC7;
    display: flex;
    justify-content: center;
    border-radius: 25px 25px;
    width: 280px;
    height: 60px;
    background-image: linear-gradient(to right, #945dd6, #527ce9, #0092e8, #00a2da, #13adc7);
}

.button a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: white;
    background-image: linear-gradient(to right, #527ce9, #0092e8, #00a2da, #13adc7);
}

/* projects section */

.projects{
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
    margin: 200px;
}

.projects span{
    font-weight: 600;
    font-size: 40px;
}

.card_1{
    box-shadow: 0px 0px 16px #FFFFFF;
    border: 2px solid #fff;
    border-radius: 50px 0;
}

.card_1 h2{
    font-size: 30px;
}

.card_1 p{
    font-size: 28px;
}

.card_1 img{
    width: 500px;
    height: 541px;
}

.card_block{
    padding: 80px 0;
    display: flex;
    gap: 106px;
    flex-wrap: wrap;
}

.card{
    border-radius: 50px 0;
    border: 2px solid #fff;
    box-shadow: 0px 0px 16px #FFFFFF;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
}

.card h2{
    padding: 30px;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.card p{
    padding: 30px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.card img{
    border-radius: 50px 8px 8px 8px;
}

.card a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 25px 25px;
    width: 210px;
    height: 60px;
    background-image: linear-gradient(to right, #945dd6, #527ce9, #0092e8, #00a2da, #13adc7);
}

.card span{
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}